*.csproj
*.sln
.idea/
Library/
obj/
Logs/
Assets/Editor/x64/Bakery/
Assets/Plugins/DevConsole/
Assets/Character Movement Fundamentals/
Assets/Plugins/Sirenix/
Assets/Bakery/
Packages/packages-lock.json
Temp/
BEEWORKS.sln.DotSettings.user
Assets/_COMMON ART ASSETS/
Assets/TextMesh Pro/
Assets/Plugins/RootMotion/
Build/
Assets/clayxelsFrozen/
Assets/Clayxels/
Assets/__PROJECTS/Shootergame/Scenes/sh2_city.unity
Assets/__PROJECTS/Shootergame/Scenes/sh2_city.unity.meta
Assets/__PROJECTS/Shootergame/Models/Environment/SH2 Rip/
Assets/__PROJECTS/Shootergame/Models/Environment/SH2 Rip.meta
